## Task:

- use Keras :)
- **Predict if employee stayed or left the company**
- build confusion matrix
- experiment with parameters to get better accuracy

Necesary data pre-processing steps:
- Data Normalization (*) 
- Spliting data into training and testing sets


(\*) Read more about Scikit's ```MinMaxScaler``` or ```Normalizer``` on:
- [Normalization](http://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-normalization)
- [MinMaxScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html#sklearn.preprocessing.MinMaxScaler)
- [Normalizer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Normalizer.html#sklearn.preprocessing.Normalizer)

----

Dataset source: https://www.kaggle.com/ludobenistant/hr-analytics

## Additional task:

Requirements: Python and maybe basic Numpy

Pretend that the dataset is too bit to fit into single Matrix. 

**Write generator that will iterate over the data during model training.**

The generator should:

- accept batch of any size
- generate batches for training/testing data and training/testing labels
- be usable by keras ```model.fit_generator``` (check method **"fit_generator"** on [Keras page](https://keras.io/models/sequential/))

In [1]:
import pandas as pd

In [2]:
hr_dataset = pd.read_csv('datasets/HR_comma_sep.csv')
hr_dataset.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
pd.get_dummies(hr_dataset)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales_IT,sales_RandD,...,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
5,0.41,0.50,2,153,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,0.10,0.77,6,247,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
7,0.92,0.85,5,259,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8,0.89,1.00,5,224,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
9,0.42,0.53,2,142,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
10,0.45,0.54,2,135,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
11,0.11,0.81,6,305,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
12,0.84,0.92,4,234,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
13,0.41,0.55,2,148,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
14,0.36,0.56,2,137,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
15,0.38,0.54,2,143,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
16,0.45,0.47,2,160,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
17,0.78,0.99,4,255,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
18,0.45,0.51,2,160,3,1,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
19,0.76,0.89,5,262,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
20,0.11,0.83,6,282,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
21,0.38,0.55,2,147,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
22,0.09,0.95,6,304,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
23,0.46,0.57,2,139,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
24,0.40,0.53,2,158,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
25,0.89,0.92,5,242,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
26,0.82,0.87,4,239,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
27,0.40,0.49,2,135,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
28,0.41,0.46,2,128,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0.38,0.50,2,132,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14969,0.43,0.46,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14970,0.78,0.93,4,225,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14971,0.39,0.45,2,140,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14972,0.11,0.97,6,310,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14973,0.36,0.52,2,143,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14974,0.36,0.54,2,153,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14975,0.10,0.79,7,310,4,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14976,0.40,0.47,2,136,3,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14977,0.81,0.85,4,251,6,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14978,0.40,0.47,2,144,3,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14979,0.09,0.93,6,296,4,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14980,0.76,0.89,5,238,5,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
14981,0.73,0.93,5,162,4,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14982,0.38,0.49,2,137,3,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14983,0.72,0.84,5,257,5,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14984,0.40,0.56,2,148,3,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14985,0.91,0.99,5,254,5,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14986,0.85,0.85,4,247,6,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14987,0.90,0.70,5,206,4,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14988,0.46,0.55,2,145,3,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14989,0.43,0.57,2,159,3,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14990,0.89,0.88,5,228,5,1,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14991,0.09,0.81,6,257,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14992,0.40,0.48,2,155,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14993,0.76,0.83,6,293,6,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14994,0.40,0.57,2,151,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0